
.filme-poster{
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.filme-poster::before{
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.719);
}

.filme-info {
  position: absolute;
  bottom: calc(0%);
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 800px;
  padding: 0 8px;
  height: 400px;
  color: #fff;
  text-shadow: -3px 3px 10px black;
}

.filme-info h1{
  margin: 14px 0;
}
/* .filme-info img {
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 340px;
} */

.filme-info h3{
  margin-top: 14px;
}

.filme-info span {
  margin: 8px 0;
}

.area-btn button{
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}

.area-btn button:hover{
  background-color: black;
  color: white;
}

.area-btn a{
  text-decoration: none;
  color: #000;
  transition: .2s;
}
.area-btn button:hover a{
  color: white;
}
