.meus-filmes {
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
.meus-filmes h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.meus-filmes h3{
  text-align: center;
  color: #fff;
}

.meus-filmes .back-btn{
  display: inline-block;
  margin: auto;
  padding: 5px;
  text-transform: uppercase;
  font-variant: small-caps;
  text-decoration: none;
  color: #fff;
}
.filme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.filme span {
  font-weight: bold;
}

.meus-filmes button {
  background: none;
  border: none;
  outline: none;
  margin-left: 10px;
}

.trash-icon {
  font-size: 18px;
  padding: 0;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.info-icon {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #0076e4;
}
